.SearchBoxMain{
    width: 92%;
    height: 55px;
    margin: auto;
    margin-top: 15px;
    border-radius: 50px;
    background-color: #353845;
    display: flex;
}
.searchBoxIcon{
    color: #edff498a;
    margin-top: 14px;
    margin-left: 13px;
}
.searchBoxText{
    font-size: 120%;
    margin-top: 12px;
    margin-left: 10px;
    color: #edff4987;
}
.searchBoxInputBox{
    width: 83%;
    height: 90%;
    border: none;
    outline: none;
    margin: auto;
    color: white;
    background-color: #35384500;
    font-weight: bold;
    font-family: 'M PLUS Rounded 1c', sans-serif,'Nunito', sans-serif,'M PLUS Rounded 1c';
    font-size: 130%;
}
.searchBoxInputBox::placeholder{
    color: #edff498a;
}
.searchBoxFormMain{
    display: flex;

    width: 100%;
}