.ThreadUserPostMain{
    width: 100%;
    /* height: 63px; */
    display: flex;
    margin-top: 0px;
    
}
.ThreadUserPostMain:hover{
    background-color: #383a47db;;
}
.ThreadUserPostMain:hover .ThreadUserPostProButton{
    display: block;
    width: 30px;
    height: 20px;
    background-color:#2e3038db;;
    margin-right: 12px;
    margin-top: 8px;
    border-radius: 4px;
    display: flex;
    
    border: solid 1px #303035db;;
}
.ThreadUserPostMain:hover .ThreadUserPostProIcon{
    margin: auto;
    margin-top: 0;
    color: #edff49;
}
.ThreadUserPostUserIcon{
    width: 44px;
    height: 44px;
    margin-top: 9px;
    margin-left: 4.00%;
    margin-left: 2.9%;

    border-radius: 50px;
}
.ThreadUserPostProButton{
    display: none;
}
.ThreadUserPostUserRight{
    width: calc(100% - 3.68% - 44px);
}
.ThreadUserPostUserName{
    color: white;
    font-size: 120%;
    margin-left: 15px;
    margin-top: 6px;
    margin-right: 5px;
}

.ThreadUserPostText{
    color: white;
    font-size: 105%;

}
.ThreadUserPostDate{
    font-size: 90%;
    color: white;
    margin-top: 11px;
}
.ThreadUserPostNames{
    display: flex;
}

.ThreadUserPostRightTop{
    justify-content: space-between;
}
.ThreadUserPostTextWarpp{
    display: flex;
    margin-left: 15px;
    margin-top: 2px;
    margin-bottom: 10px;

}
.ThreadPageSendTextAria{
    width: 100%;
}
.ThradUserPostImage{
    max-width: 60%;
    max-height: 300px;
    border-radius: 20px;
    margin-left: 12px;
}