.ProfileSeMain{
    width: calc(100% - 290px - 360px);
    height: 100vh;
    min-width: 640px;
    position: relative;
    /* background-color: red; */
    border-left: solid #3d3f4d 1px;
    border-right: solid #3d3f4d 1px;
}
.ProfileSeTopBar{
    width: 100%;
    height: 48px;
    border-bottom: solid #3d3f4d 1px;
    display: flex;
    justify-content: space-between;
}
.ProfileSeTopHeaderImg{
    object-fit: cover;
    height: 190px;
    position: absolute;
    border-bottom: solid #3d3f4d 1px;
}
.ProfileSeTopBarLeft{
    display: flex;
}
.ProfileSeTopBarUserName{
    color: white;
    font-size: 150%;
    margin-top: 5px;
    margin-left:20px;
}
.ProfileUserState{
    height: 25px;
    margin-top: 12px;
    margin-left: 10px;
    border-radius: 40px;
    display: flex;
    /* background-color:#414453;; */
}
.ProfileUserStateIcon{
    width: 12px;
    height: 12px;
    border-radius: 50px;
    margin-top:6px;
    margin-left: 4px;
    background-color: #edff49;;

}
.ProfileUserStateText{
    margin-top: 0px;
    margin-left: 6px;
    color: white;
}
.ProfileSeBackIcon{
    color: white;
    margin-top: 12px;
    margin-left: 21px;
}
.ProfileSeTopBarRight{
    display: flex;
}
.ProfileUserNumIcon{
    color: white;
    margin-top: 11px;
}
.ProfileUserNumText{
    color: white;
    margin-top: 9px;
    font-size: 110%;
    margin-left: 10px;
    margin-right: 20px;
}
.ProfileSeTopSpace{
    position: relative;
    width: 100%;
}
.ProfileSeTopIconImg{
    position: absolute;
}
.ProfileSeTopIconImg{
    border-radius: 50%;
    width: 105px;
    height: 105px;
    margin-left: 26px;
    margin-top: 105px;
}
.ProfileSeTopIconWarpp{
    width: 115px;
    height: 115px;
    position:absolute;
    background-color:#282a36;;
    border-radius: 50%;
    margin-left: 21px;
    margin-top: 100px;
}
.ProfileSeTopUserName{
    color: white;
    font-size: 230%;
    margin-left: 150px;
    margin-top: 0px;
    text-shadow: 0 0 8px #000;

}
.ProfileSeTopUserText{
    width: calc(100vw - 290px - 361px);
    height: 100px;
    position: absolute;
    margin-top: 127px;
    display: flex;
}
.ProfileSeTopUserFollowButton{
    width: 150px;
    min-width: 150px;
    height: 36px;
    border-radius: 50px;
    margin-top: 12px;
    margin-left: 13px;
    background-color: #edff49;;
    display: flex;
    border: solid 1px #eaff29;
    font-weight: bolder;
    font-family: 'M PLUS Rounded 1c', sans-serif,'Nunito', sans-serif,'M PLUS Rounded 1c';
    outline: none;
    cursor: pointer;
}

.ProfileSeTopUserFollowButtonText{
    margin: auto;
    font-size: 120%;
    color: #3c414d;
}
.ProfileSeMainSpace{
    width: 100%;
    margin-top: 195px;
    height: calc(100vh - 319px);
}

.ProfileSeMainProfileSpace{
    width: 100%;
    min-height: 60px;
    border-bottom: solid #3d3f4d 1px;
    display: flex;
}

.ProfileSeMainProfileSpaceText{
    color: white;
    font-size: 130%;
    margin-top: 10px;

}
.ProfileSeMainProfileSpaceWarpp{
    margin-left: 150px;
    display: flex;
    width: calc(100% - 229px - 10px);
}
.ProfileSeMainProfileSpaceSendMessIcon{
    color: white;
    margin-top: 5px;
    margin-left: 6px;
}
.ProfileSeMainProfileSpaceSendMessIconWarpp{
    width: 41px;
    height: 41px;
    border-radius: 50%;
    display: flex;
    background-color:#3d3f4d;
    margin-top: 10px;
}
.ProfileSeMainSelectContentBar{
    width: 100%;
    height: 45px;
    border-bottom: solid #3d3f4d 1px;
    display: flex;
    justify-content: space-around;
}
.ProfileSeMainSelectContentBarTitle{
    color: white;
    font-size: 130%;
    display: flex;
    padding-top: 5px;
}
.ProfileSeMainSelectContentBarWarpp{
    height: 100%;
}
.ProfileSeMainSelectContentBarSelected{
    width: 106%;
    height: 6px;
    border-radius: 50px;
    margin-top: 3px;
    background-color:#edff49;
}
.ProfileSeMainCons{
    width: 100%;
}
.ProfileSeMainWarpp::-webkit-scrollbar {
    width: 0px;
    height: 0;
}
.ProfileSeMainWarpp::-webkit-scrollbar-thumb {
    background-color: #353845;
    border-radius: 10px;
}