@import url("https://fonts.googleapis.com/css?family=M+PLUS+Rounded+1c");
.TagsMain{
    width: 100%;
    height: 50px;
    border-bottom: solid 1px #4e5363;
    display: flex;
    justify-content: space-between;
}
.TagIcon{
    margin-top: 13px;
    margin-left: 14px;
    color: rgb(227, 227, 227);
}
.TagSpaceLeft{
    display: flex;
}
.TagTitle{
    color: white;
    margin-top: 14px;
    margin-left: 7px;
    transform: rotate(0.05deg);
    font-size: 100%;
    font-family: "M PLUS Rounded 1c"
}
.TagNumWarpp{
    display: flex;
    margin-top: 14px;
}
.TagNumIcon{
    color: white;
    margin-top: 1px;
}
.TagNumText{
    color:  white;
    margin-left: 4px;
    margin-right: 20px;
}