.MkPostWindowThreadTagMain{
    height: 25px;
    border-radius: 50px;
    background-color: #353845;
    display: flex;
    margin-right: 5px;
}
.MkPostWindowThreadTagMainIcon{
    color: #edff49;
    margin-left: 4px;
    margin-top: 3px;
}
.MkPostWindowThreadTagMainText{
    color: white;
    font-size: 80%;
    display: flex;
    margin-top: 3px;
    margin-right: 7px;
    white-space: nowrap;
}