.MainScreen{
    width: calc(100% - 290px - 360px);
    /* min-width: 600px; */
    height: 100vh;
    /* background-color: red; */
    /* border-left: solid #373946 1px;
    border-right: solid #373946 1px; */
    border-left: solid #3d3f4d 1px;
    border-right: solid #3d3f4d 1px;

}
.MainScreenTop{
    width: 100%;
    height: 48px;
    display: flex;
    /* background-color: #2a2c3aac */
    border-bottom: solid #3d3f4d 1px;
    border-bottom: solid 1px #4e5363;
    justify-content: space-between;
    /* margin-bottom:20px; */
}
.MainScreenTopTexts{
    display: flex;
}
.ThreadPageMainTitle{
    color: white;
    margin: auto;
    margin-top: 0px;
    font-size: 145%;
    margin-left: 10px;
}
.ThreadPageMainBack{
    color: white;
    margin-top: 6px;
}
.MainScreenTopWarpp{
    display: flex;
    margin-left: 2.5%;
}
.MainScreenTopLeft{
    display: flex;
}
.ThreadPageTopRightMessIcon{
    color: white;
    margin-top: 13px;
}
.ThreadPageTopRightMessText{
    color: white;
    margin-top: 10px;
    margin-right: 29px;
    margin-left: 5px;
    font-size: 110%;
}
.ThreadPageTopRightCallIcon{
    color: white;
    margin-top: 13px;
    margin-right: 22px;
}
.ThreadPageMessSpace{
    width: 100%;
    overflow: scroll;
    
}
.ThreadPageSendSpace{
    z-index: 1;

    width: 100%;
    height: 80px;
    /* display: flex; */
    background-color:#282a36;
}
.ThreadPageSendBox{
    width: 95%;
    height: 52px;
    margin-left: 20px;
    border-radius: 50px;
    margin: auto;
    margin-top: 12px;
    background-color: #353845;
    display: flex;
}
.ThreadPageSendBoxImgIcon{
    color: #effe61;
    cursor: pointer;
    margin-top: 12px;
    margin-left: 17px;
}
.ThreadPageSendBoxImgIcon:hover{
    color: #eefe6167;
}

.ThreadPageSendTextBox{
    width: calc(100% - 80px - 43px - 4px);
    display: flex;
}
.ThreadPageSendButton{
    width: 39px;
    height: 39px;
    margin-top: 6px;
    margin-left: 11px;
    border-radius: 50px;
    background-color: #effe61;
    display: flex;
    margin: auto;
    margin-left: 13px;
}
.ThreadPageSendButtonIcon{
    color:#3c414d;

    /* color: #effe61; */

    margin-left: 10px;
    margin-top: 8px;
}
.ThreadPageSendTextBoxHintText{
    font-size: 130%;
    margin-top: 11px;
    margin-left: 0px;
    color: #edff4987;;
}
.ThreadPageMessSpace{
    background-color: rgba(44, 46, 58, 0.424)
}
.ThreadPageMessSpace::-webkit-scrollbar{
    width: 5px;
    height: 0;
}

.ThreadPageMessSpace::-webkit-scrollbar-thumb {
    background-color: #353845;

    border-radius: 10px;
  }
.ThreadPageSendTextBox{
    width: calc(100% - 80px - 60px);
    display: flex;
}
.ThreadPageSendTextAria{
    margin: auto;
    background-color: rgba(0, 0, 0, 0);
    border: none;
    color: white;
    outline: none;
    font-size: 130%;
    resize: none;
    overflow: hidden;
    font-family: 'M PLUS Rounded 1c', sans-serif,'Nunito', sans-serif,'M PLUS Rounded 1c';
}
.ThreadPageSendTextAria::placeholder{
    font-size: 109%;
    margin-left: 0px;
    color: #edff4987;;
    font-weight: bold;
    font-family: 'M PLUS Rounded 1c', sans-serif,'Nunito', sans-serif,'M PLUS Rounded 1c';

}
.ThreadPageSendBoxImgIconButton{

}
.ThreadPageSendBoxFileNameWarpp{
    width: 100%;
    height: 25px;
    background-color: red;
    display: flex;
    border-radius: 10px 10px 0 0;
    justify-content: space-between;
}
.ThreadPageSendBoxFileName{
    color: white;
    margin-top: 0;
    margin-left:20px;
}