  @import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@400;500&family=Nunito:wght@600;700;800&display=swap');
body{
    overflow-y: hidden;
    overflow-x: hidden;
    background-color: #282a36;
    margin: 0;
    font-weight: bold;
    font-family: 'M PLUS Rounded 1c', sans-serif,'Nunito', sans-serif,'M PLUS Rounded 1c';
}